apiVersion: v1
kind: Service
metadata:
  name: collector
  labels:
    app: collector
spec:
  type: ClusterIP
  ports:
    - port: 4317
      protocol: TCP
      name: otlp-grpc
    - port: 4318
      protocol: TCP
      name: otlp-http
    - port: 8889
      protocol: TCP
      name: prometheus
  selector:
    app: collector

